<div class='card bg-dark text-white'>
  <div class='card-header'>
    Care Plans (<%= @careplans.length %>)
  </div>

  <div class='card-body'>
    <table class='table table-striped table-dark status'>
        <tr>
		  <th>Care Plan</th>
		  <th>Title</th>
		  <th>Status</th>
		  <th>Intent</th>
		  <th>Action</th>
        </tr>
      <% @careplans.each do |careplan| %>
        <tr>
		  <td><%= link_to "#{careplan.id}", edit_care_plan_url(careplan.id) %></td>
		  <td><%= sanitize(careplan.title) %></td>
		  <td><%= sanitize(careplan.status) %></td>
		  <td><%= sanitize(careplan.intent) %></td>
		  <td><%= link_to "Delete", "care_plans/#{careplan.id}/patient/#{@patient.id}", method: :delete, data: {confirm: 'Are you sure?'} %></td>
        </tr>
      <% end %>
    </table>
	<div>
	<p>
	Actions:
	
	<%= link_to "Add New Care Plan",  new_patient_care_plan_path(@patient.id) %>
	</p>
	</div>
  </div>
</div>
